@use "globals" as *; 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family-Lato;
}

body{
    background-color: $color-black;
    @include grid-container-columns(8);
}

#app{
    grid-column: 1 / 9;
}

h1{
    @include font(h1);
    color: $color-yellow;
    text-shadow: 4px 4px $color-dark-red;
    letter-spacing: 3px;

    @include respond-to(medium){
        font-size: 2.5rem;
        line-height: 3rem;
    };

    @include respond-to(small){
        font-size: 1.5rem;
        line-height: 2rem;
        margin-bottom: 2rem;
    };
}

h2{
    @include font(h2);
    color: $color-red;
    letter-spacing: 3px;


    @include respond-to(small){
        font-size: 1rem;
    };
}

h3{
    @include font(h3);
    color: $color-yellow;
    text-shadow: 4px 4px $color-dark-red;
    letter-spacing: 3px;
    
    @include respond-to(medium){
        line-height: 1.5rem
    };

    @include respond-to(small){
        font-size: 1rem;
    };
}

p{
    @include font(paragraph);
    color: $color-white;

    @include respond-to(medium){
        @include font("smallParagraph");
    };
}

figcaption{
    @include font(tag);
}

a{
    text-decoration: none;
    color: white;
}

.smallParagraph{
    @include font(smallParagraph);
    color: $color-white;
}

.margin-auto{
    margin-left: $margin-x-container;
    margin-right: $margin-x-container;

    @include respond-to(large){
        margin-left: 0;
        margin-right: 0;
    }
}

.row{
    @include respond-to(medium){
        flex-direction: column;
    }
}

.my-3{
    margin: 3rem 0;
}