@use "globals" as *;

.sectionProjects{
    h2{
        text-align: center;
        color: $color-yellow;
        text-shadow: $text-shadow-dark-red;
        
    }

    .swiper {
        height: 510px;
        border: $border-width-md solid $color-orange;
        border-radius: 16px;
    
        img{
            height: 100%;
            width: 100%;
            object-fit: cover;
            object-position: center;
        }
    
        .swiper-slide{
            position: relative;
    
            .descriptionSwiper{
                padding: 1rem;
                position: absolute;
                width: 100%;
                bottom: 0;
    
                background-color: rgba(0, 0, 0, 0.616);
    
                @include flex-container(row,space-between,center);
    
                .titleSwiper{
                    font-size: 32px;
                    color: $color-orange;
                    font-weight: 900;
                    
                    @include respond-to(medium){
                        font-size: 1rem;
                    }
                }
    
                .buttonsGroup{
                    @include flex-container(column,space-between,center);
                    @include respond-to(medium){
                        width: 100%;
                        justify-content: space-evenly;
                        flex-direction: row;
                    }
                    
                    @include respond-to(small){
                        width: 100%;
                        flex-direction: column;
                    }

                    a{
                        @include flex-container(row,space-between,center);
                        font-size: 18px;
                        padding: 1rem 1.5rem;
                        border-radius: 16px;
                        margin: 5px 0;
                        width: 8rem;
                        font-weight: 900;
                        border: 3px solid $color-black;
                    }
    
                    .repository{
                        background-color: $color-dark-red;
                        color: $color-yellow;
                    }
                    
                    .page{
                        background-color: $color-dark-red;
                        color: $color-green;
                    }
                }

                @include respond-to(medium){
                    flex-direction: column;
                }
            }
        }
    
        .swiper-button-prev, .swiper-button-next{
            color: $color-yellow;
            text-shadow: 2px 2px black;
        }
        
        .swiper-button-prev::after, .swiper-button-next::after{
            font-size: 3rem;
            margin: 0 2rem;
        }
    }
}