@use "globals" as *;

.sectionContact{
    h2{
        text-align: center;
        color: $color-yellow;
        text-shadow: $text-shadow-dark-red;
    }

    margin-bottom: 3rem;
    .contactContainer{
        padding:  1rem 2rem;

        border: $border-width-md solid $color-green;
        border-radius: 16px;
        background-color: $color-dark-red;
        @include grid-container-columns(6); 
        gap: 20px;

        @include respond-to(medium){
            @include flex-container(column,space-between,center);
        }

        p{
            text-align: center;
            grid-column: 2 / 6;
        }

        .form-group{
            @include flex-container(column,space-between,start);

            label{
                @include font(smallParagraph);
                color: $color-green;
                font-weight: 800;
            }

            input, textarea{
                height: 80%;
                width: 100%;
                padding: 10px;

                background-color: $color-red;
                color: $color-green;

                border: 0;
                border-bottom: 5px solid $color-green;
                border-radius: 0 0 5px 5px;

                box-shadow: 8px 8px $color-dark-red;
            }

            textarea{
                height: 100%;
            }
            
            input::placeholder, textarea::placeholder{
                color: $color-green;
                opacity: 70%;
            }
        }

        .nameGroup{
            grid-column: 2 / 4;
        }

        .emailGroup{
            grid-column: 4 / 6;
        }

        .messageGroup{
            grid-column: 2 / 6;
            grid-row: 3/5;

            textarea{
                resize: none;
            }
        }

        .buttonContact{
            grid-column: 3 / 5;
            margin: 0.5rem;
            background-color: $color-red;
            color: $color-green;
            @include font(paragraph);

            font-weight: 900;
            border: 3px solid $color-green;
            border-radius: 16px;
            cursor: pointer;

            @include respond-to(medium){
                width: 70%;
                font-size: 16px;
            }
        }
    }
}