@use "globals" as *; 

section.sectionAboutMe{
    text-align: center;

    p{
        text-align: justify;
    }

    h2{
        color: $color-orange;
    }
    .professionalNetworkRow{
        margin-top: 2rem;

        .row{
            @include flex-container(row, space-between, start);

            .card{
                width: 31%;
                color: $color-dark-red;
                
                hr{
                    color: $color-orange;
                }

                @include respond-to(large){
                    width: 100%;
                }

                .cardContainer{
                    @include flex-container(row, space-between, center);
                    height: 100%;

                    .imgContainer{
                        padding: 0.5rem 0 0 0;
                        width: 35%;

                        i{
                            color: $color-orange;
                            font-size: 5rem;
                        }
                    }

                    .text{
                        width: 65%;

                        h3{
                            color: $color-orange;
                        }

                        p{
                            text-align: center;
                        }
                    }
                }
            }

            @include respond-to(large){
                flex-direction: column;
                align-items: center;
            }
        }
    }
}