@use "globals" as *;

.swiper {
    height: 400px;
    border: 5px solid $color-dark-red;
    border-radius: 16px;

    > img{
        width: 100%;
    }

    .swiper-slide{
        position: relative;

        .descriptionSwiper{
            padding: 1rem;

            position: absolute;
            width: 100%;
            bottom: 0;
            background-color: rgba(0, 0, 0, 0.616);

            @include flex-container(row,space-between,center);

            .titleSwiper{
                font-size: 32px;
                color: $color-orange;
                font-weight: 900;
                margin-bottom: 1rem
            }

            .buttonsGroup{
                @include flex-container(column,space-between,center);

                a{
                    @include flex-container(row,space-between,center);
                    font-size: 18px;
                    padding: 1rem 1.5rem;
                    border-radius: 16px;
                    margin: 5px 0;
                    width: 8rem;
                    font-weight: 900;
                    border: 3px solid $color-black;
                }

                .repository{
                    background-color: $color-dark-red;
                    color: $color-yellow;
                }
                
                .page{
                    background-color: $color-dark-red;
                    color: $color-green;
                }
            }
        }
    }
  }